/* 60 Second Docs STYLES
-------------------------------------------------*/

@font-face {
  font-family: 'Oxygen Regular';
  src: url('assets/fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Van Condensed';
  src: url('assets/fonts/VanCondensedLF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap Semibold';
  src: url('assets/fonts/Asap/Asap-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap Medium';
  src: url('assets/fonts/Asap/Asap-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap Regular';
  src: url('assets/fonts/Asap/Asap-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  font-size: 1vw;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

#menu {
  background-color: #000;

  header {
    padding: 20px;
  }

  .official-nav-link {
    color: #fff;
    display: block;
    margin-bottom: 30px;
    font-family: 'Asap Medium', 'Arial', sans-serif;
  }
}

#official-selection {
  width: 100%;

  .banner-thumbnail-wrapper {
    padding: 0;
    height: 472px;

    .desc-wrapper {
      padding: 0;
      max-width: none;
      text-align: left;

      .sub-nav {
        text-align: right;
        #logo-60sd {
          position: absolute;
          top: 25px;
          left: 15px;

          img {
            width: 95px;
            height: 95px;
          }
        }

        .intro-text {
          display: none;
        }

        .hamburger-icon {
          color: #fff;
          font-size: 36px;
          position: relative;
          top: 20px;
          margin-right: 20px;
        }

        @media screen and (min-width: 780px) {
          text-align: center;

          #logo-60sd {
            left: 65px;
          }

          .intro-text {
            top: 70px;
            position: relative;
            margin: 0 auto;
            display: block;

            .official-nav-link {
              font-family: "Asap Semibold", "Arial", sans-serif;
              font-size: 16px;
              color: #fff;
              margin-left: 48px;
              padding-bottom: 5px;
            }

            a.official-nav-link.active {
              border-bottom: 2px #e9d502 solid;
            }
          }

          .hamburger-icon {
            display: none;
          }
        }

      }
    }
  }

  #page {
    position: relative;
    margin-top: -325px;
    padding: 0;
    max-width: none;

    #site-title {
      max-width: 486px;
      margin-left: 15px;
      margin-bottom: 60px;
      padding-top: 20px;

      @media screen and (min-width: 780px) {
        margin-left: 65px;
      }

      h1 {
        font-family: 'Van Condensed', arial, sans-serif;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: .5px;
        color: #e9d502;
        text-transform: uppercase;
      }

      @media screen and (max-width: 768px) {
        h1 {
          font-size: 29px;
          line-height: 34px;
        }
      }
    }

    #page-1 {
      #mailing-list-form {
        width: 100%;
        height: 320px;
        background-color: #e9d502;

        h2 {
          font-family: 'Asap Medium', arial, sans-serif;
          font-size: 36px;
          line-height: 70px;
          letter-spacing: .5px;
          color: #000000;
          text-transform: uppercase;
          font-style: normal;
        }

        @media screen and (max-width: 768px) {
          h2 {
            font-size: 24px;
            line-height: 46px;
          }
        }
      }
    }

    #page-2 {
      background-color: #fff;
      display: none;

      h1 {
        font-family: 'Van Condensed', arial, sans-serif;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: .5px;
        color: #000;
        text-transform: uppercase;
        text-align: center;
        margin: 45px 0 15px;
      }

      p {
        max-width: 475px;
        display: block;
        margin: 0 auto 36px;
        font-family: 'Asap Regular', arial, sans-serif;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -.03px;
        color: #000000;
        font-style: normal;
        text-align: center;
      }

      #recommendations-container {
        max-width: 1140px;
        margin: 0 auto;
        padding-left: 32px;

        .image-block {
          display: inline-block;
          width: 554px;
          height: 309px;
          padding: 0;
          margin-bottom: 32px;
        }

        @media screen and (max-width: 768px) {
          .image-block {
            width: 260px;
            height: 145px;
          }
        }

        .image-block:nth-child(odd) {
          margin-right: 32px;
        }
      }

      @media screen and (max-width: 768px) {
        #recommendations-container {
          max-width: 260px;
        }
        h1 {
          font-size: 36px;
          line-height: 28px;
        }
        p {
          width: 335px;
          font-size: 20px;
          line-height: 28px;
        }
      }
    }

    #page-3 {
      background-color: #fff;
      padding-top: 30px;
      display: none;

      #submit-form {
        width: 635px;
        margin: 0 auto;
      }

      @media screen and (max-width: 768px) {
        #submit-form {
          width: 360px;
          height: 1600px;
          overflow: hidden;

          iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }

  #footer {
    background: #000;

    .footer-inner {
      max-width: 490px;
      padding: 60px 34px;
    }

    .links .image-block {
      display: inline-block;
      width: 27px;
      height: 27px;
    }

    p {
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #e9d502;
      font-family: 'Asap Medium', 'Arial', sans-serif;
      text-transform: uppercase;
    }
  }

  @media screen and (min-width: 768px) {
    .index-section-wrapper .content {
      width: 50%;
    }
  }



}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
