/* 60 Second Docs STYLES
-------------------------------------------------*/





html {
  font-size: 1vw;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

#winners {
  width: 100%;
  line-height: 1.6em;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.01em;
  text-transform: none;
  line-height: 1.3em;
  font-size: 1rem;
  font-size: 1.1rem;
  line-height: 1.3;

  h1 {
    font-weight: bold;
    font-size: 6rem;
    line-height: .88;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    letter-spacing: -.03em;
    text-transform: none;
  }

  h3 {
    font-size: 2.8rem;
    line-height: 1.0208;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -.03em;
    text-transform: none;
  }

  .index-section-wrapper .content.has-main-media p {
    color: #fff;
    font-size: 1.1rem;
  }

  .index-section-wrapper .content.has-main-media h3 {
    color: #fff;
  }

  .index-section-wrapper .content {
      width: 100%;
  }

  @media screen and (min-width: 768px) {
    .index-section-wrapper .content {
      width: 50%;
    }

    .index-section-wrapper .content.has-main-media {
      width: 75%;
    }
  }



}
